NEXT_PUBLIC_WHATSAPP_NUMBER=51999999999
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
MP_ACCESS_TOKEN=
RESEND_API_KEY=
RECLAMOS_FROM_EMAIL=
RECLAMOS_EMAIL=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MP_WEBHOOK_SECRET=
MP_COLLECTOR_ID=
MP_LIVE_MODE=false
